<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
  <body style="font-size:20px; padding:50px;">

    <h1> Login </h1>
    <table>
    <tbody>
    <form method="POST" action="/login">
      <label for="email">EmailL:</label>
      <input type="text" placeholder="Enter email" name="email" required>
      <br>
      <label for="pawword">Password:</label>
      <input type="text" placeholder="Enter password" name="password" required>
      <button type="submit" >Login</button>
    </form>
  </tbody>
  </table>
  </body>
</html>